/* Reset styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: normal;
}

p {
    margin-bottom: 1rem;
    color: #fff;
}
h3{
    color: #fff;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 1rem;
}
img{
    height: auto;
    width: 50px;
}

a {
    color: #1b1a1a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header styles */
header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 1rem;
}

header img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* Main styles */
main {
    padding: 2rem;
}

#artwork h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}

#artwork p {
    font-size: 1.2rem;
}